body{
    font-family: "Aleo variant0", Tofu;
    background-color: white;
}
.logotam{
    width: 390px;
    height: 90px;
    text-align: start;
    padding-top: 25px;
}
.img1{
    text-align: start;
    width: 35px;
    height: 35px;
}

.t1{
    margin-top: 35px;
}
.p1{
    display: inline-block;
    padding-top: 20px;
    padding-left: 5px;
    color: #F43435;
    font-style: italic;
    text-decoration: none;  
}
.color1{
    display: block;
    padding: 40px;
    margin-top: 10px;
    text-align: center;

}
.menu{
    list-style: none;
    padding: 0;
    background:#322E2E ;
    width: 100%;
    
}

.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    padding-inline:60px;
    font-size: 18px;
}
.menu li{
    display: inline-block;
    text-align: center;
    
}
.menu li a:hover{
    background: #55504e;
}
.colorr{
    display: inline-block;    
    background-color: #F43435;
}
.colorr:hover{
    background: rgb(255, 137, 137) !important; 
    
}
.wasa{
    display: inline-block;
    color: white;
    line-height: 2px;
    
}
.num{
    
    color: white;
    line-height: 10px;
}
.aln{
    text-align: center;
}
.carro{
    display: inline-block;
    align-items: center;
    background-color: #cac1c1;
    margin: 0px auto;
}
.texto1{
    color: #333131;
    font-size: 40px;
    margin-top: 20px;

}
.imagen{
    margin-top: 40px;
}
.boton{
    display: inline-block;
    padding: 20px;
    background: #F43435;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;

}
.boton:hover{
    background-color: #f76e6e;
    color: white;
    text-decoration: none;
}