.imgProduc {
    width: 100%;
    max-width: 450px;
    float: left;
}  
.detail {
    margin: 20px;
    padding: 23px 70px;
    border-radius: 16px;


    background-color: #ffffff;

}
.boton-add {
    border-radius: 8px;
    padding: 10px 10px;

}
.boton-add:hover {
    background-color: #236ccd;
    color: #efebe4;

}
}

.container-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.item {
    margin: 10px;
    padding: 2px 9px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
    background-color: rgb(255, 255, 255);
}
.tam {
    width: 100%;
    max-width: 320px;
}