body{
    font-family: "Aleo variant0", Tofu !important;
    background-color: white;
}
.ajustar1{
    text-align: center;
    padding-top: 30px;
}

.textoedit{
    text-decoration: none;
    color: #F43435;
    text-transform: uppercase;
    font-size: 13px;
    
}
    

.wasa{
    display: inline-block;
    color: white;
    line-height: 2px;
    
}
.num{
    display: block;
    color: white;
    line-height: 10px;
    margin-left: 40px;
}

.ti{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: #F43435;
    padding-bottom: 20px;
    
}
.celulares{
    display: block;
    font-size: 25px;
    padding-bottom: 20px;
    color: white;
    padding-top: 20px;
    
}
.imageng10{
    box-shadow: 5px 8px 12px rgb(0, 0, 0) !important;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
    width: 330px;
    height: 370px;
    margin-top: 20px;

}
.imageng10:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px;
    border: 0;
    
}

.c{
    display: block;
    width: 550px;
    height: 550px;
    margin: 0px auto;
    background-image: radial-gradient( rgb(224, 224, 241), rgb(53, 97, 226) );  
}
.cc{
    display: block;
    width: 550px;
    height: 550px;
    margin: 0px auto;
    background-image: linear-gradient(to left, rgb(97, 95, 95), rgb(160, 156, 185));
}
.alinear{
    text-align: center;
}

    



