body{
    font-family: "Aleo variant0", Tofu;
    background-color: white;
}
.logotam{
    width: 390px;
    height: 90px;
    text-align: start;
    padding-top: 25px;
}
.img1{
    text-align: start;
    width: 35px;
    height: 35px;
}

.t1{
    margin-top: 35px;
}
.p1{
    display: inline-block;
    padding-top: 20px;
    padding-left: 5px;
    color: #F43435;
    font-style: italic;
    text-decoration: none;  
}
.color1{
    display: block;
    padding: 40px;
    margin-top: 10px;
    text-align: center;

}
.menu{
    list-style: none;
    padding: 0;
    background:#322E2E ;
    width: 100%;
}

.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    padding-inline:60px;
    font-size: 18px;
}
.menu li{
    display: inline-block;
    text-align: center;
    
}
.menu li a:hover{
    background: #55504e;
}
.colorr{
    display: inline-block;    
    background-color: #F43435;
}
.colorr:hover{
    background: rgb(254, 137, 137) !important; 
    
}
.wasa{
    display: inline-block;
    color: white;
    line-height: 2px;
    
}
.num{
    
    color: white;
    line-height: 10px;
}

.ti{
    font-size: 40px;
    text-align: center;
    color: #F43435;
    padding-bottom: 20px;
    text-shadow: 3px 4px 5px #322E2E;
}
.celulares{
    display: block;
    font-size: 20px;
    padding-bottom: 20px;
    
}
.imageng10{
    box-shadow: 5px 8px 12px black;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
    width: 350px;
    height: 400px;
    margin-top: 20px;

}
.imageng10:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px;
    border: 0;
    
}

.c{
    margin: 0px auto;
}
.alinear{
    text-align: center;
}
    



