body{
    font-family: "Aleo variant0", Tofu;
}
.logotam{
    width: 410px;
    height: 110px;
    text-align: start;
    padding-top: 25px;
}
.img1{
    text-align: start;
    width: 35px;
    height: 35px;
}

.t1{
    margin-top: 35px;
}
.p1{
    display: inline-block;
    padding-top: 20px;
    padding-left: 5px;
    color: #F43435;
    font-style: italic;
    text-decoration: none;  
}
.color1{
    display: block;
    padding: 40px;
    margin-top: 25px;
    text-align: center;

}
.menu{
    list-style: none;
    padding: 0;
    background:#322E2E ;
    width: 100%;
}

.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    padding-inline:60px;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
    
}
.menu li a:hover{
    background: #55504e;
}
.colorr{
    display: block;
    margin: 0px !important;
    background-color: #F43435;
    padding: 0px;
}
.colorr:hover{
    background: rgb(254, 137, 137) !important; 
}
    



